[Unit]
Description=FTP client to receive files from host
Wants=network-online.target

[Service]
ExecStart=/scripts/setup_ftp.sh
RestartSec=5

[Install]
WantedBy=multi-user.target